@page
@model MyZone.Pages.ReportPageModel
@{
}

<div>
    <h1>Отчёт.</h1>
    <br>
    <h3>Количество заказов за последнюю неделю.</h3>
    <table>
        <tr>
            <td>День недели</td> <td>Количество заказов</td>
        </tr>
        @foreach (var item in Model.reportDayOrders)
        {
            <tr>
                <td>@item.dow</td>
                <td>@item.count</td>
            </tr>
        }
    </table>
    <br>
    <h3>Всего: @Model.reportDayOrders.Sum(p => p.count) заказов</h3>
    
    <br>

    <div id="paymentsChartContainer" style="height: 400px; width: 100%;"></div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var chart = Highcharts.chart('paymentsChartContainer', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'График количества заказов за текущую неделю.'
                },
                xAxis: {
                    categories: @Html.Raw(Json.Serialize(Model.reportDayOrders.Select(p => p.dow.ToString())))
                },
                yAxis: {
                    title: {
                        text: 'Количество заказов'
                    }
                },
                series: [{
                    name: 'Дни недели',
                    data: @Html.Raw(Json.Serialize(Model.reportDayOrders.Select(p => (int)p.count))) 
                }]
            });
        });
    </script>
</div>